FFLOGS_CLIENT_ID=
FFLOGS_CLIENT_SECRET=
FFLOGS_API_BASE_URL=https://www.fflogs.com/api/v2/client
FFLOGS_TOKEN_URL=https://www.fflogs.com/oauth/token
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
